/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #44badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./robot.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #fff;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
.loader {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 1px 1px 3px #000;
}
.hide {
  visibility: hidden;
}
.joke {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  width: 45%;
  height: auto;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transform: translate(32%, 0%);
}
button:hover {
  filter: brightness(95%);
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  filter: brightness(30%);
  cursor: disabled;
}
/* media Query: tablet or smaller */

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.2);
  }
}
